<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CBC</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>    
    <servlet-name>Login</servlet-name>
    <servlet-class>com.cbc.controller.Login</servlet-class>
  </servlet>      
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.cbc.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_admin_bo</display-name>
    <servlet-name>Register_admin_bo</servlet-name>
    <servlet-class>com.cbc.controller.Register_admin_bo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_admin_bo</servlet-name>
    <url-pattern>/Register_admin_bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cbc.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.cbc.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getr</display-name>
    <servlet-name>getr</servlet-name>
    <servlet-class>com.cbc.controller.getr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getr</servlet-name>
    <url-pattern>/getr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndUserBO</display-name>
    <servlet-name>IndUserBO</servlet-name>
    <servlet-class>com.cbc.controller.IndUserBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndUserBO</servlet-name>
    <url-pattern>/IndUserBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyController</display-name>
    <servlet-name>BuyController</servlet-name>
    <servlet-class>com.cbc.controller.BuyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyController</servlet-name>
    <url-pattern>/BuyController</url-pattern>
  </servlet-mapping>
</web-app>